@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1280px;
    margin: 0 auto;
}

.back-image {
    background-image: url('../../public/images/fondo.jpg');
}

.circle-pharase {
    width: 100vw;
    max-width: 1280px;
    height: 100vw;
    max-height: 1280px;
}

#menu ul li:hover .submenu {
    display: block;
}

.messages-container > div:nth-child(even) span {
    margin-left: 8px;
}

.messages-container > div:nth-child(odd) span {
    margin-right: 8px;
}
